/* Font */
@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Font icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jg0zm9');
  src:  url('../fonts/icomoon.eot?jg0zm9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jg0zm9') format('truetype'),
    url('../fonts/icomoon.woff?jg0zm9') format('woff'),
    url('../fonts/icomoon.svg?jg0zm9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plane:before {
  content: "\e900";
  color: red;
}
.icon-rocket:before {
  content: "\e901";
}
.icon-truck:before {
  content: "\e902";
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    // There is no need to nest body in html, this kind of nesting create unnecessary specificity (CSS Specificity: https://www.w3schools.com/css/css_specificity.asp)
    body {
      margin: 0;
      font-family: 'robotomedium', sans-serif;
      // Do not style for tags directly, always depend on {attribute/class} in general something reusable
      main {
        padding-bottom: 100px;
        .container {
          margin-right: auto;
          margin-left: auto;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
}

// Start 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// End
/* ============
DRY, DIE, KISS, SOLID, YAGNI

Using preprocessor this could be written like this, so we do less code
* {
  &,
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

Using postprocessor / autoprefixer this could be written like this, so we do less code

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

====== */


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// See bootstrap version using scss: https://github.com/twbs/bootstrap/tree/v4-dev/scss
.row {
  margin-left: -15px;
  margin-right: -15px;
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Use variables for reusable porpetie values
// Easier to maintain
// use shorten version for colors
$light-grey: #333;

// Use extending capabilities if you repeated something few times and don't want to set it globally
// You can do this with in to ways using .fontNormalize or %fontNormalize
// .fontNormalize will create class / %fontNormalize will not create class
%fontNormalize {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

// checkbox and select has start/end comments .section-block doesn't
.section-block {
    padding: 50px 0; // Use & instead of full class name
    &__title {
        font-size: 32px;
        font-weight: 500;
        @extend %fontNormalize;
        color: $light-grey;
        padding: 15px 0 0 0;
        margin: 0;
    }
    &__form {
        &-input {
            width: 100%;
            height: 40px;
            opacity: 0.5;
            border-radius: 3px;
            border: solid 1px $light-grey;
            padding-left: 20px;
        }
        &-label {
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(51, 51, 51, 0.5);
            padding: 25px 0 5px;
            display: block;
        }
        &-half {
            max-width: 395px;
        }
    }
    &__email-input {
        // We already have default class for input .section-block__form-input so if we're going to create additional styles use mod --email-input
        // Also .section-block__email-input used on label but class saids that this is input
        position: relative;
        &::after {
            content: url('../images/mail.svg');
            position: absolute;
            right: 12px;
            bottom: -32px;
            z-index: 1;
        }
    }
    &__company-name-wrp {
        position: relative;
        .file-upload {
            position: absolute;
            top: 55px;
            right: -77px;
            &:hover {
                transform: scale(1.1);
                transition: all .9s;
            }
            &__file-name {
                position: absolute;
                margin-bottom: 0;
            }
            &__attach-btn {
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #f57e80;
                min-width: 75px;
                cursor: pointer;
            }
            input[type="file"] {
                display: none;
            }
        }
    }
}

// Use code splitting
@import './components/_custom-select';

/* Checkbox */
.checkbox-label {
  display: block;
  position: relative;
  padding: 25px 0 0 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.5);
  &:hover .checkbox-label__checkbox ~ .checkbox-label__checkmark {
    background-color: #ccc;
  } 
  .checkbox-label__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkbox-label__checkmark::after {
      display: inline-block;
    }
    &:checked ~ .checkbox-label__checkmark:after {
      display: block;
    }
  }
  .checkbox-label__checkmark {
    position: absolute;
    top: 26px;
    left: 0;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    border-radius: 3px;
    border: solid 1px $light-grey;
    &::after {
      content:'\2713';
      display: none;
      color: $light-grey;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bold;
      top: 50%;
    }
  }
}

/* End of checkbox */
.section-block__section-subtitle {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $light-grey;
  padding: 10px 0 40px 0;
  margin: 0;
}
.section-block__title--padding-none {
  padding: 0;
}
/* Cards tabs */
.tabordion {
  position: relative;
  input[name="sections"] {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  section {
    display: block;
    padding: 35px 0;
    .tabordition__tab-body {
      display: none;
      left: 230px;
      position: absolute;  
      top: 0;
      border-radius: 15px;
      background-color: #ffffff;
      box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
      padding: 20px 25px 45px;
      min-height: 300px;
      margin-top: 35px;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12.5px 20px 12.5px 0;
        border-color: #ffffff;
        left: 0px;
        top: 45%;
        box-shadow: -1px 1px 3px 0 rgba(51, 51, 51, 0.2);
        transform-origin: 0 0;
        transform: rotate(40deg);
      }
      .tabordition__card-wrp {
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
        width: 100%;
        height: 80px;
        margin: 10px 0 0 0;
        cursor: pointer;
        display: flex;
        &:hover {
          transform: scale(1.1);
          transition: all .9s;
        }
        img {
          margin: auto;
          display: block;
        }
      }
      .tabordition__card-wrp.active {
        background-image: linear-gradient(78deg, #f57e80, #d43535);
      }
      .tabordition__h4 {
        font-size: 14px;
        font-weight: 500;
        @extend %fontNormalize;
        color: rgba(51, 51, 51, 0.5);
        margin: 0;
      }
      .tabordition__card-btn {
        height: 50px;
      }
      .tabordition__card-block {
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
        min-height: 200px;
        margin-top: 10px;
        padding: 15px 25px 35px; 
        .tabordition__form-input{
          padding-left: 2px;
        }
        .tabordition__h4 {
          margin-bottom: 5px;
        }
      }
    }
    label {
      cursor: pointer;
      display: inline-block;
      position: relative;
      z-index:100;
      margin-left: 35px;
      &:hover {
        transform: scale(1.1);
        transition: all .9s;
      }
      .tabordition__h3 {
        font-size: 20px;
        font-weight: 500;
        @extend %fontNormalize;
        color: rgba(51, 51, 51, 0.5);
        margin: 0 0 5px 0;
        display: block;
      }
      .tabordition__p {
        font-size: 14px;
        font-weight: 500;
        @extend %fontNormalize;
        color: rgba(51, 51, 51, 0.5);;
        margin: 0;
        display: block;
      }
    }
    .tabordition__first-tab::before {
      content: "\e900";
      font-family: 'icomoon';
      position: absolute;
      left: -35px;
      top: 5px;
      font-size: 16px;
      color: rgba(51, 51, 51, 0.5);
    }
    .tabordition__second-tab::before {
      content: "\e901";
      font-family: 'icomoon';
      position: absolute;
      left: -35px;
      top: 5px;
      font-size: 16px;
      color: rgba(51, 51, 51, 0.5);
    }
    .tabordition__third-tab::before {
      content: "\e902";
      font-family: 'icomoon';
      position: absolute;
      left: -35px;
      top: 5px;
      font-size: 16px;
      color: rgba(51, 51, 51, 0.5);
    }
  }
  input[name="sections"]:checked + label .tabordition__h3 {
    color: $light-grey;
  }
  input[name="sections"]:checked + label .tabordition__p {
    color: $light-grey;
  }
  input[name="sections"]:checked + .tabordition__third-tab::before,
  input[name="sections"]:checked + .tabordition__first-tab::before,
  input[name="sections"]:checked + .tabordition__second-tab::before{
  color: #f57e80;
  }
  input[name="sections"]:checked ~ .tabordition__tab-body {
    display: block;
  }
}
/* 
  // See advanced css selectors https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048
  input[name="sections"] {
    &:checked {
      & + label {
        .tabordition__h3,
        .tabordition__p {
          color: $light-grey;
        }
      }
      & + [class*="-tab"] {
        &:before {
          color: #f57e80;
        }
      }
      & ~ .tabordition__tab-body {
        display: block;
      }
    }
  }
*/

.m-b-25 {
  margin-bottom: 25px;
}

/* End of Cards tabs */
.submit-btn {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  background-image: linear-gradient(78deg, #f57e80, #d43535);
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.3);
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
}

// With preprocessors you can write media queries inside class/id/tag, on place where they are in code
/* 
  main {
    margin: 0 20px;
    @media (max-width: 600px) {
      margin: 0 10px;
    }
  }
*/

@media (max-width: 600px) {
  main{
    .container {
      .tabordion section{
        .tabordition__tab-body {
          top: 330px;
          left: 0;
        }
      }
      .submit-btn {
        margin-top: 830px;
      }
    }
  }
}
@media (max-width:768px) {
  .container {
    .submit-btn {
      margin-top: 520px;
    }
    .tabordition__card-wrp {
      max-height: 50px;
    }
    .section-block__form-half--float-none {
      float: none;
    }
  }
}
@media (max-width:992px) {
  .section-block {
    .section-block__form-half{
      .section-block__company-name-wrp {
        .file-upload, #file-name {
          position: static;
        }
      }
    }
  }
  .submit-btn {
    margin-top: 180px;
  }
  .tabordion {
    section {
      .tabordition__tab-body::before {
        content: unset;
      }
    }
  }
  .tabordition__tab-body--card-details {
    margin-top: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .tab-body {
    .card-wrp {
      height: 60px;
    }
  }
}