/* Font */
@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Font icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jg0zm9');
  src:  url('../fonts/icomoon.eot?jg0zm9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jg0zm9') format('truetype'),
    url('../fonts/icomoon.woff?jg0zm9') format('woff'),
    url('../fonts/icomoon.svg?jg0zm9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plane:before {
  content: "\e900";
  color: red;
}
.icon-rocket:before {
  content: "\e901";
}
.icon-truck:before {
  content: "\e902";
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'robotomedium', sans-serif;
}
main {
  padding-bottom: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.section-block {
  padding: 50px 0; 
}
.section-title {
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  padding: 15px 0 0 0;
  margin: 0;
}
.form-input {
  width: 100%;
  height: 40px;
  opacity: 0.5;
  border-radius: 3px;
  border: solid 1px #333333;
  padding-left: 20px;
}
.form-label {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.5);
  padding: 25px 0 5px;
  display: block;
}
.email-input {
  position: relative;
}
.email-input::after {
  content: url('../images/mail.svg');
  position: absolute;
  right: 12px;
  bottom: -32px;
  z-index: 1;
}
.company-name-wrp {
  position: relative;
}
.file-upload {
  position: absolute;
  top: 55px;
  right: -77px;
}
#file-name {
  position: absolute;
  margin-bottom: 0;
}
.attach-btn {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f57e80;
  min-width: 75px;
  cursor: pointer;
}
.file-upload:hover {
  transform: scale(1.1);
  transition: all .9s;
}
input[type="file"] {
  display: none;
} 
/* Select  */
.custom-select {
  position: relative;
}
.custom-select select {
  display: none; 
}
.select-selected {
  height: 40px;
  opacity: 0.5;
  border-radius: 3px;
  border: solid 1px #333333;
  padding-left: 20px;
}
.select-selected::after {
  position: absolute;
  content: url('../images/arrow.svg');
  top: 8px;
  right: 10px;
}
.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
  top: 10px;
}
.select-items div,.select-selected {
  color: rgba(51, 51, 51, 0.5);
  padding: 8px 16px;
 
  cursor: pointer;
  user-select: none;
}
.select-items {
  position: absolute;
  background-color:white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: 300px;
  overflow-y: auto;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
}
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* End of Select */
.form-half {
  max-width: 395px;
}
/* Checkbox */
.checkbox-label {
  display: block;
  position: relative;
  padding: 25px 0 0 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.5);
}
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 26px;
  left: 0;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  border-radius: 3px;
  border: solid 1px #333333;
}
.checkbox-label:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox-label input:checked ~ .checkmark::after {
  display: inline-block;
}
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-label .checkmark::after {
  content:'\2713';
  display: none;
  color: #333333;
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  top: 50%;
}
/* End of checkbox */
.section-subtitle {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  padding: 10px 0 40px 0;
  margin: 0;
}
.padding-none {
  padding: 0;
}
/* Cards tabs */
.tabordion {
  position: relative;
}
.tabordion input[name="sections"] {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.tabordion section {
  display: block;
  padding: 35px 0;
}
.tabordion section label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index:100;
  margin-left: 35px;
}
.tabordion section label h3 {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.5);
  margin: 0 0 5px 0;
}
.tabordion section label p {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.5);;
  margin: 0;
}
.first-tab::before {
  content: "\e900";
  font-family: 'icomoon';
  position: absolute;
  left: -35px;
  top: 5px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
}
.second-tab::before {
  content: "\e901";
  font-family: 'icomoon';
  position: absolute;
  left: -35px;
  top: 5px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
}
.third-tab::before {
  content: "\e902";
  font-family: 'icomoon';
  position: absolute;
  left: -35px;
  top: 5px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
}
.tabordion section .tab-body {
  display: none;
  left: 230px;
  position: absolute;  
  top: 0;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
  padding: 20px 25px 45px;
  min-height: 300px;
  margin-top: 35px;
}
.tab-body h4 {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(51, 51, 51, 0.5);
  margin: 0;
}
.tab-body .card-wrp {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
  width: 100%;
  height: 80px;
  position: relative;
  margin: 10px 0 0 0;
  cursor: pointer;
}
.tab-body .card-wrp:hover {
  transform: scale(1.1);
  transition: all .9s;
}
.tab-body .card-btn {
  height: 50px;
}
.tab-body .card-wrp img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  left: 50%;
  transform: translate(-50%);
}
.tab-body .card-block {
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
  min-height: 200px;
  margin-top: 10px;
  padding: 15px 25px 35px; 
}
.tab-body .card-block .form-input{
  padding-left: 2px;
}
.tab-body .card-block h4 {
  margin-bottom: 5px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.tabordion section .tab-body::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 20px 12.5px 0;
  border-color: #ffffff;
  left: 0px;
  top: 45%;
  box-shadow: -1px 1px 3px 0 rgba(51, 51, 51, 0.2);
  transform-origin: 0 0;
  transform: rotate(40deg);
}
.tabordion input[name="sections"]:checked + label h3, .tabordion input[name="sections"]:checked + label p{ 
  color: #333333;
}
.tabordion input[name="sections"]:checked + .third-tab::before,
.tabordion input[name="sections"]:checked + .first-tab::before,
.tabordion input[name="sections"]:checked + .second-tab::before{
  color: #f57e80;
}
.tabordion input[name="sections"]:checked ~ .tab-body {
  display: block;
}
/* End of Cards tabs */
.submit-btn {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  background-image: linear-gradient(78deg, #f57e80, #d43535);
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.3);
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.submit-btn:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
@media (max-width: 600px) {
  .tabordion section .tab-body {
    top: 330px;
    left: 0;
  }
  body .container .submit-btn {
    margin-top: 830px;
  }
}
@media (max-width:768px) {
  .float-none {
    float: none;
  }
  .container .submit-btn {
    margin-top: 520px;
  }
}
@media (max-width:992px) {
  .file-upload, #file-name {
    position: static;
  }
  .submit-btn {
    margin-top: 180px;
  }
  .tabordion section .tab-body::before {
    content: unset;
  }
}